* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.stage {
    max-width: 840px;
    margin: 400px auto;
    text-align: center;
    border: 50px solid #000;
    height: 400px;
    padding-top: 190px;
    background:#c79640;
    .mole {
        width:25px;
        height:30px;
        padding:0;
        overflow:hidden;
        /*
        width: 200px;
        height: 50px;
        */
       // transform-origin: 0% 100%;
        //background-color: #ff0000;
        //border:1px solid #ff0000;
        background:url('../imgs/come-out.png') left center;
        display: inline-block;
        margin-right: 5px;
       //transition: all .6s ease;
        opacity: 1;
        &:hover{
            cursor:pointer;
        }
        //&:hover {
        //  @extend .come-Out;
        // }
    }
}
.text-content{
    color:#fff;
}
/*Animation Classes*/
.come-Out {
    transform: scaleY(4);
}

.come-In {
    transform: scaleY(1);
}

.smack {
    opacity: 0 !important;
}

.mole-Come-Out{
    background:url('../imgs/come-out.png') left center !important;
    animation:play1 1s steps(9);
}

.mole-Come-In{
    //background:url('../imgs/come-in.png') left center !important;
    animation:play2 .6s steps(5);
    
}

.mole-Hit{
    width:38px !important;
    height:28px !important;
    background:url('../imgs/hit.png') left center !important;
    animation:play3 .6s steps(3); 
}

/*Animations */
@keyframes play1{
    100%{background-position:-259px};
}


@keyframes play2{
    100%{background-position:-136px};
}

@keyframes play3{
    100%{background-position:-116px};
}
